<div class="parallax-container valign-wrapper">
    <div class="row center valign">
        <div class="section three">
            <div id="button">
                Scrape
                <div class="ring one"></div>
                <div class="ring two"></div>
                <div class="ring three"></div>
                <div class="ring four"></div>
            </div>

        </div>
    </div>
    <div class="parallax">
        <img src="https://lh3.googleusercontent.com/_WYN0P_N6MBAYQwM9Z6ziBL9X7fGb1LrPFTud-aAoB9EAW6gVwDIt2juJGF9LTEqLAI=h900">
    </div>
</div>
<ul id="list-row" class="collapsible" data-collapsible="accordion">
    <li>
        <div class="collapsible-header center-align">ARTICLES<i class="material-icons right">swap_vert</i></div>
        <div class="collapsible-body">
            <ul id="article_list" class="collapsible popout" data-collapsible="accordion"></ul>
        </div>
    </li>
</ul>
<div class="parallax-container">
    <div class="parallax"><img src="https://techcrunch.com/wp-content/uploads/2018/04/gettyimages-639183496.jpg?w=1390&crop=1"></div>
</div>